################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework/HighQualityClass/.vs/HighQualityClass/v17/Browse.VC.opendb
/InClass/TimeOfDay/.vs/TimeOfDay/v17/Browse.VC.opendb
/Homework/HighQualityClass/.vs/HighQualityClass/FileContentIndex/914e71ec-1bd3-4bbc-967e-0639177d1577.vsidx
/Homework/farray/.vs/farray/FileContentIndex/c02de050-c949-4e97-8f60-e8719a80534d.vsidx
/Homework/farray/farray.vcxproj.user
/Homework/farray/.vs/farray/v17/Browse.VC.opendb
