################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework/HighQualityClass/.vs/HighQualityClass/v17/Browse.VC.opendb
